body{
    margin: 0px;
    background-color: black;
}

.Header{
color: white;
font-size: 130px;
}
.Header img{
float: left;
}
.Button{
    width: 100%;
    height: 100px;
    background-color: blue;
    font-size: x-large;
    float: left; display: block;
}
.Button a{

    color: white;
}